server:
  port: 8080
  tomcat:
    uri-encoding: UTF-8
    max-connections: 2048
    threads:
      min-spare: 5
      max: 100
    mbeanregistry:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  metrics:
    distribution:
      percentiles:
        http.server.requests: 0.5,0.95
        spring.data.repository.invocations: 0.5,0.95
