<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">
    <!-- standard out put -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %cyan(%logger{5}):%L#%M - %message%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <property name="pokemon_wiki_log_home" value="/var/log/pokemon-wiki"/>

    <!-- pokemon wiki log -->
    <appender name="pokemon_wiki_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${pokemon_wiki_log_home}/pokemon-wiki.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{5}:%L#%M - %message%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>${pokemon_wiki_log_home}/pokemon-wiki.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="cn.fantasticmao.pokemon.wiki" level="INFO" additivity="false">
        <appender-ref ref="pokemon_wiki_log"/>
    </logger>

    <!-- http request log -->
    <appender name="http_request_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${pokemon_wiki_log_home}/http-request.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{5}:%L%n%message%n###%n%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <maxHistory>30</maxHistory>
            <fileNamePattern>${pokemon_wiki_log_home}/http-request.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="HttpFormatRequestLoggingFilter" level="TRACE" additivity="false">
        <appender-ref ref="http_request_info"/>
    </logger>
</configuration>