name: ci

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Project
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Make Log Directory
        run: |
          sudo mkdir /var/log/pokemon-wiki
          sudo chown $USER /var/log/pokemon-wiki
      - name: Build with Maven
        run: ./mvnw package -B -Dapp.dbfile=`pwd`/pokemon_wiki.db
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: maomao233/pokemon-wiki:latest
